@import "tailwindcss";

:root {
  --background: #f8f4ed;
  --foreground: #0f0a03;
  --card: #f9f8f4;
  --primary: #0f0a03;
  --primary-foreground: #f8f4ed;
  --secondary: #e9e4d9;
  --secondary-foreground: #0f0a03;
  --neutral: #eeeae3;
  --neutral-foreground: #59544c;
  --action: #bb7b76;
  --action-foreground: #f8f4ed;
  --danger: #e7000a;
  --danger-foreground: #f8f4ed;
  --border: #dad7d0;
  --ring: #59544c;
}
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-action: var(--action);
  --color-action-foreground: var(--action-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}
