@import "tailwindcss";

:root {
  --background: #f8f4ed;
  --foreground: #0f0a03;
  --card: #f9f8f4;
  --primary: #0f0a03;
  --primary-foreground: #f8f4ed;
  --secondary: #e9e4d9;
  --secondary-foreground: #0f0a03;
  --muted: #eeeae3;
  --muted-foreground: #59544c;
  --accent: #bb7b76;
  --accent-foreground: #f8f4ed;
  --destructive: #e7000a;
  --destructive-foreground: #f8f4ed;
  --border: #dad7d0;
  --ring: #59544c;
}
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}
